Spark Iceberg REST Catalog refresh token

### Query engine

Spark

### Question

When I set up Spark to connect to the REST Catalog (Lakekeeper) using Keycloak as the OAuth2 server with the client credentials flow, I configured the token to expire after 5 minutes on Keycloak. Once the 5 minutes elapsed, the REST Catalog returned an "Unauthorized" exception. It appears that Spark's REST Catalog does not refresh the token from the OAuth2 server.

spark.sql.catalog.rest=org.apache.iceberg.spark.SparkCatalog
spark.sql.catalog.rest.type=rest
spark.sql.catalog.rest.uri=...
spark.sql.catalog.rest.credential={{ .Env.CLIENT_ID }}:{{ .Env.CLIENT_SECRET }}
spark.sql.catalog.rest.warehouse=my_warehouse
spark.sql.catalog.rest.scope=...
spark.sql.catalog.rest.oauth2-server-uri=...
spark.sql.catalog.rest.io-impl=org.apache.iceberg.aws.s3.S3FileIO

A similar setup on Trino works correctly.







cc @dimas-b @RussellSpitzer 

@nqvuong1998 which version if Iceberg and Spark are you using?
Spark should refresh those tokens automatically. This is the class that handles the refresh:
https://github.com/apache/iceberg/blob/673192d9152a5532f2a84aa2fc815cfa16f7f203/core/src/main/java/org/apache/iceberg/rest/auth/OAuth2Util.java#L457


Hi @c-thiel ,
In Keycloak, I set the token expiration to 5 minutes. After that, I configured the catalog in both Spark and Trino. However, after the token expires, Trino continues to work normally, while Spark returns an "Unauthorized" error.

Spark: 3.5.2
Iceberg: 1.7.1
Lakekeeper: 0.6.2
Trino: 470

@nqvuong1998 I did some further tests and tracked it down. The problem is two-fold:
Firstly I we currently always use the token exchange flow to refresh a token instead of falling back to simply re-performing the initial client credential flow. The code is here:

https://github.com/apache/iceberg/blob/673192d9152a5532f2a84aa2fc815cfa16f7f203/core/src/main/java/org/apache/iceberg/rest/auth/OAuth2Util.java#L154-L167

The second half of the problem is that Keycloak didn't implement the token exchange flow according to the RFC. Iceberg did.
Iceberg uses the `actor_token` and `actor_token_type` fields to authenticate the exchange while Keycloak expects `client_id` and `client_secret`.

I opened an Issue for Keycloak exactly for this some time back: https://github.com/keycloak/keycloak/issues/36203

It seems that trino took the easier route and just re-performs the initial client credential flow.

@adutra do you know if the new Auth Manager would solve this?


Hi @c-thiel and @nqvuong1998!

Yes, the fact that token refreshes are broken when using an external IDP like Keycloak is a known issue. To summarize (and your analyzis was spot on!), there are two issues: 

1. using token exchange to refresh tokens with `client_credentials` is non-standard;
2. a malformed token exchange request results in 401.

I posted some explanations here: https://github.com/apache/iceberg/issues/12196#issuecomment-2674990474.

> do you know if the new Auth Manager would solve this?

The AuthManager API can definitely help this issue, although it won't solve it per se. Let's push to have it merged:

https://github.com/apache/iceberg/pull/12197

@c-thiel about this part of your comment:

> The second half of the problem is that Keycloak didn't implement the token exchange flow according to the RFC. Iceberg did.
Iceberg uses the actor_token and actor_token_type fields to authenticate the exchange while Keycloak expects client_id and client_secret.

So, here, I'm not sure I agree with you. Reading [RFC 8693 section 2.1](https://datatracker.ietf.org/doc/html/rfc8693/#section-2.1):

> Client authentication to the authorization server is done using the normal mechanisms provided by OAuth 2.0. [Section 2.3.1](https://www.rfc-editor.org/rfc/rfc6749#section-2.3.1) of [[RFC6749](https://datatracker.ietf.org/doc/html/rfc6749)] defines password-based authentication of the client, however, client authentication is extensible and other mechanisms are possible.

So my understanding is that token exchange is no different from other flows defined in RFC 6749 wrt client authentication. In particular, the actor token is NOT meant to represent the client, but rather:

> A security token that represents the identity of the acting party. Typically, this will be the party that is authorized to use the requested security token and act on behalf of the subject.

So, in my opinion, Keycloak is rather correct here. It's Iceberg that is doing a malformed token exchange request.

FYI Keycloak still considers token exchange in preview state. They have been collecting use cases for quite a while now under this issue, which is worth reading:

https://github.com/keycloak/keycloak/discussions/26502


We're experiencing similar problems with token refresh (Iceberg Rest Catalog with Trino and Spark) and Keycloak.

And there is one interesting observation:
In one of the cases when background token refresh is happening there is a flow when RestSessionCatalog uses basic authorization (not bearer) and Keycloak is able to authenticate such request. But unfortunately it fails because Keycloak can't validate an actor_token
https://github.com/apache/iceberg/blob/main/core/src/main/java/org/apache/iceberg/rest/auth/OAuth2Util.java#L605


@varpa89 

Yes, in certain cases Keycloak _may_ be able to refresh the token:

Iceberg REST will [try 5 times to refresh using bearer token](https://github.com/apache/iceberg/blob/a0777bca714fc16941dae25a3044445f3758dbd1/core/src/main/java/org/apache/iceberg/rest/auth/OAuth2Util.java#L562), then will [fall back to basic auth](https://github.com/apache/iceberg/blob/a0777bca714fc16941dae25a3044445f3758dbd1/core/src/main/java/org/apache/iceberg/rest/auth/OAuth2Util.java#L551-L552). 

So in certain cases, it is possible that the refresh eventually works with basic auth, but that is possible only if 1) the IDP supports token exchange and 2) the IDP is correctly configured to take the subject token and issue a new access token for it.



There is also a potential issue with ddos of IDP from the RestSessionCatalog. When I was debugging refresh token behaviour, I found a strange situation. We don't use session `"iceberg.rest-catalog.session" = 'NONE'` but in case when we provide credentials `"iceberg.rest-catalog.oauth2.credential" = 'admin:password'` we still create a session for each request. But key for the session in the cache is a random UUID. So we put a new session for each request and then in background try to refresh a token with retires

<img width="601" alt="Image" src="https://github.com/user-attachments/assets/7b9bce52-f89f-4dbc-bddc-c6570df31118" />

> So looks like the problem is outside of iceberg but in TrinoRestCatalog

Yes it seems so; I would suggest using something deterministic to create the session context ID for the `NONE` case.

It seems iceberg can't exchange tokens with EntraID either. Using Lakekeeper with Trino + EntraID, after 55 min pass or so:
```
2025-03-25T09:03:21.978Z	WARN	lakehouse_bronze-token-refresh-0	org.apache.iceberg.util.Tasks	Retrying task after failure: sleepTimeMs=1744 Malformed request: unsupported_grant_type: AADSTS70003: The app requested an unsupported grant type 'urn:ietf:params:oauth:grant-type:token-exchange'. Trace ID: .... Correlation ID: .... Timestamp: 2025-03-25 09:03:21Z
org.apache.iceberg.exceptions.BadRequestException: Malformed request: unsupported_grant_type: AADSTS70003: The app requested an unsupported grant type 'urn:ietf:params:oauth:grant-type:token-exchange'. Trace ID: .... Correlation ID: .... Timestamp: 2025-03-25 09:03:21Z
	at org.apache.iceberg.rest.ErrorHandlers$OAuthErrorHandler.accept(ErrorHandlers.java:254)
	at org.apache.iceberg.rest.ErrorHandlers$OAuthErrorHandler.accept(ErrorHandlers.java:228)
	at org.apache.iceberg.rest.HTTPClient.throwFailure(HTTPClient.java:224)
	at org.apache.iceberg.rest.HTTPClient.execute(HTTPClient.java:308)
	at org.apache.iceberg.rest.BaseHTTPClient.postForm(BaseHTTPClient.java:111)
	at org.apache.iceberg.rest.auth.OAuth2Util.refreshToken(OAuth2Util.java:170)
	at org.apache.iceberg.rest.auth.OAuth2Util$AuthSession.refreshExpiredToken(OAuth2Util.java:607)
	at org.apache.iceberg.rest.auth.OAuth2Util$AuthSession.refreshCurrentToken(OAuth2Util.java:589)
	at org.apache.iceberg.rest.auth.OAuth2Util$AuthSession.lambda$refresh$1(OAuth2Util.java:562)
	at org.apache.iceberg.util.Tasks$Builder.runTaskWithRetry(Tasks.java:413)
	at org.apache.iceberg.util.Tasks$Builder.runSingleThreaded(Tasks.java:219)
	at org.apache.iceberg.util.Tasks$Builder.run(Tasks.java:203)
	at org.apache.iceberg.util.Tasks$Builder.run(Tasks.java:196)
	at org.apache.iceberg.rest.auth.OAuth2Util$AuthSession.refresh(OAuth2Util.java:562)
	at org.apache.iceberg.rest.auth.OAuth2Util$AuthSession.lambda$scheduleTokenRefresh$2(OAuth2Util.java:645)
	at java.base/java.util.concurrent.Executors$RunnableAdapter.call(Executors.java:572)
	at java.base/java.util.concurrent.FutureTask.run(FutureTask.java:317)
	at java.base/java.util.concurrent.ScheduledThreadPoolExecutor$ScheduledFutureTask.run(ScheduledThreadPoolExecutor.java:304)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1144)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:642)
	at java.base/java.lang.Thread.run(Thread.java:1575)
```

> It seems iceberg can't exchange tokens with EntraID either. Using Lakekeeper with Trino + EntraID, after 55 min pass or so:

Yes, you should disable token refreshes as the grant type used (token exchange) is not supported by Entra ID.

> d disable token refreshes as the

So, `iceberg.rest-catalog.oauth2.token-refresh-enabled=false` in Trino. Could you clarify what happens in this case - it will then request a new token using `client_credentials` grant, or?

@adutra btw what is the plan for the initial issue? we're also struggling with this problem in Trino and Spark and maybe can help somehow.

The real plan is to use the AuthManager. I am working on an auth manager for external IDPs with proper token refreshes using the `refresh_token` grant type, among other features. But I can't share any ETA for now.

For now you need to disable token refreshes and use tokens that last long enough for the entire session lifespan.

> The real plan is to use the AuthManager. I am working on an auth manager for external IDPs with proper token refreshes using the `refresh_token` grant type, among other features. But I can't share any ETA for now.
> 
> For now you need to disable token refreshes and use tokens that last long enough for the entire session lifespan.

Thanks for your contribution first of all. 
Is the refresh_token grant type going to solve also the issue with Entra ID as I cant see any support in their documentation for "refresh_token" as grant type too?! Looking [here](https://learn.microsoft.com/en-us/entra/identity-platform/v2-oauth2-auth-code-flow) and in the sibling pages. I am using Spark and my Spark Session after the expiry of the token ends up in a JSON Parse exception as a html with the login page is received. 

@hguercan the page you linked does mention the refresh_token grant type. I'm not expert in EntraID but I would really be surprised if they didn't support that grant type. 

Hi @adutra , I see that you have released an external Iceberg auth manager. Do you have any plans or actions to address this issue for the internal Iceberg auth library?