[REST Catalog] OAuth 2 grant type "refresh_token" not implemented

### Apache Iceberg version

1.7.1 (latest release)

### Query engine

None

### Please describe the bug 🐞

For the REST Catalog service (after deprecating the oauth endpoint), it looks like the "refresh_token" grant type (https://datatracker.ietf.org/doc/html/rfc6749#section-6) is not implemented correctly. It's currently implemented as grant type "token-exchange": https://github.com/apache/iceberg/blob/main/core/src/main/java/org/apache/iceberg/rest/auth/OAuth2Util.java#L163.

The standardized way should be taking in:
1. Basic auth header: "Authorization: Basic ${base64_encoded_colon_separated_client_id_and_secret}" (depending on the authorization server implementation, sometimes Bearer token also works).
2. Form data: "grant_type=refresh_token&refresh_token=..." (optionally plaintext client id and secret if not provided through auth header).

A proposal is to allow providing:
1. refresh_token
2. client id and secret (or a base64 encoded string of both)

through properties like credential or token to work together with the oauth2-server-uri property.



### Willingness to contribute

- [x] I can contribute a fix for this bug independently
- [x] I would be willing to contribute a fix for this bug with guidance from the Iceberg community
- [ ] I cannot contribute a fix for this bug at this time

@nika-qubit I think you're confusing two separate things here.  The token exchange flow is used by the current implementation to provide a way to get a new token using a valid token.  While this is not commonly used, I'm not aware of how the current implementation violates the RFC.

The current implementation does not support the refresh token flow at all (secion-6 you state is implemented incorrectly).

I feel like you should change this to state that you would like refresh token to be supported and tag this as a feature request.

Thanks, @danielcweeks. Yes, I was confused by the "refreshToken" method naming. It's actually doing token-exchange and the oauth server that I'm interacting with doesn't support this grant type. I would like to make the issue a FR for supporting the refreshing token flow.

PR opened: https://github.com/apache/iceberg/pull/12362

Rebased to the latest main HEAD at this moment.

Added test is `./gradlew :iceberg-core:test --tests org.apache.iceberg.rest.TestRESTCatalog.testCatalogTokenRefreshByRefreshTokenFlow`

Could someone please review it? Thanks!

Hi, I support this feature request and think this is a great idea.

I can confirm that support for external IDPs is currently broken, as token refreshes generally do not work.

There are a few reasons for that:

1. The usage of token exchange grant in lieu of the `refresh_token` grant. Not all IDPs have support for token exchange:
  a. Authelia or Authentik have no support for it.
  b. Keycloak does have support for it, but it must be explicit enabled and is still considered in "preview" state.
  c. Auth0 has a "[custom token exchange beta](https://auth0.com/docs/custom-token-exchange-beta)" feature, but it cannot be used to refresh tokens.
2. The usage of bearer token authentication in lieu of basic authentication. Bearer token authentication per [RFC 6750](https://www.rfc-editor.org/rfc/rfc6750.html) is meant for accessing the resource server, not the authorization server. **All IDPs reject such requests.**

We could argue that reason 1 above is a "feature request", but I'd would qualify reason 2 as a bug.

To expand a bit on why using bearer authentication to refresh tokens should be considered a bug, and a violation of the OAuth2 spec:

A client is not supposed to authenticate against the tokens endpoint using a bearer token that it obtained previously _from that same endpoint_. According to [RFC 6749 section 2.3](https://datatracker.ietf.org/doc/html/rfc6749#section-2.3), valid authentication methods that IDPs must support include: HTTP Basic header (preferred), or client ID + client secret included in the POST request body. 

In any case, _the request must include the client ID and the client secret_. But a typical token refresh request issued by the Iceberg REST client looks like this (slightly arranged for readability):

```
POST /tokens HTTP/1.1
Host: auth-server.example.com
Authorization: Bearer <current access token>      <-- WRONG
Content-Type: application/x-www-form-urlencoded

grant_type=urn:ietf:params:oauth:grant-type:token-exchange
subject_token_type=urn:ietf:params:oauth:token-type:access_token
subject_token=<current access token>
scope=catalog
```

Note how it does NOT include the client ID and client secret.

Keycloak and Auth0 both respond with a 401 response. Keycloak also logs a warning:

```
WARN  [org.keycloak.events] (executor-thread-40) type="TOKEN_EXCHANGE_ERROR", 
  clientId="null", 
  userId="null", 
  error="client_not_found", 
  grant_type="urn:ietf:params:oauth:grant-type:token-exchange"
```


Hi @adutra, do we have any plan to support the authorization code flow in the new AuthManager 😄 ? Picking up the context from https://github.com/apache/iceberg/pull/12362#issuecomment-2676192110.

Since Google OAuth 2.0 doesn't support client credential nor token exchange flows, that leaves us with authorization code flow. Just to clarify a little bit, the authorization code flow could return a refresh token that can be used for token refresh without forcing the user to manually login again and again, right?



Hi @nika-qubit you can find the new AuthManager here:

https://github.com/dremio/iceberg-auth-manager

And yes, it does support authorization code flow!

> Just to clarify a little bit, the authorization code flow could return a refresh token that can be used for token refresh without forcing the user to manually login again and again, right?

TLDR: Yes. 

You may be interested in this discussion though: https://github.com/dremio/iceberg-auth-manager/issues/30


Thanks for the response @adutra 

When I tried using dremio/iceberg-auth-manager with spark and these conf:
```
...rest.auth.oauth2.token-endpoint=https://oauth2.googleapis.com/token
...rest.auth.oauth2.grant-type=authorization_code
```

I received such an error

```
<a href=//www.google.com/><span id=logo aria-label=Google></span></a>
  <p><b>404.</b> <ins>That’s an error.</ins>
  <p>The requested URL <code>/token/.well-known/openid-configuration</code> was not found on this server.  <ins>That’s all we know.</ins>
```

Then I swtiched to use this conf
```
...rest.auth.oauth2.authorization-endpoint=https://oauth2.googleapis.com/token
```

But I got a different error

```
Exception in thread "main" java.lang.IllegalArgumentException: OAuth2 agent has configuration errors and could not be initialized:
  - either issuer URL or token endpoint must be set (rest.auth.oauth2.issuer-url / rest.auth.oauth2.token-endpoint)
```

Then I switched to this conf
```
...rest.auth.oauth2.token-endpoint=https://oauth2.googleapis.com/token
```

It gave me another exception

```
Exception in thread "main" java.lang.IllegalArgumentException: OAuth2 agent has configuration errors and could not be initialized:
  - either issuer URL or authorization endpoint must be set if grant type is 'authorization_code' (rest.auth.oauth2.issuer-url / rest.auth.oauth2.auth-code.endpoint)
```

The authorization code flow still doesn't work for me.

Should I extend an AuthManager implementation specifically for GCP so that this kind of interaction would work?

I am facing kind of similar issue when i am using Kafka connector to sink Protobuf serialized messages into Managed iceberg tables using Databricks Unity Catalog. Specially on Production environment, I am seeing these forbidden token warning messages in Kafka connect logs. I have checked this with Databricks support team as well and they have mentioned that this issue occurs specifically when the OAuth2 token is being refreshed. From the Databricks side, they see a 400 Bad Request response code, which indicates a malformed request. The request format is: POST /oidc/v1/token

From what i can see is that the connector does not support token refresh behavior but connector is somehow sending a request with `grant_type=refresh_token`. These warnings does not impact the data sinking but cause retries per connector and also put memory pressure on our Production Kafka Connect Cluster. On the other hand, We are running the same setup on our dev environment but we dont see any such warnings appearing there and the connectors were able to run fine and sink data as well. 

Do you know why the same connector version/setup is throwing such warnings?


`2025-07-31 05:22:31,441] ERROR [iceberg-sink-connector-party-client_info_renewal_event-log-v2|task-0]  WorkerSinkTask{id=iceberg-sink-connector-party-client_info_renewal_event-log-v2-0} Task threw an uncaught and unrecoverable exception. Task is being killed and will not recover until manually restarted. Error: Forbidden: Invalid Token (org.apache.kafka.connect.runtime.WorkerSinkTask)
org.apache.iceberg.exceptions.ForbiddenException: Forbidden: Invalid Token`

Screenshot of the error is attached below.

<img width="1919" height="757" alt="Image" src="https://github.com/user-attachments/assets/2d7e443a-8a53-4e28-bcb8-b071051c995b" />

We merged GoogleAuthManager to 1.10 release. You can use this. 